.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.modalContainer {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  box-shadow: 5px 5px 5px grey;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.loadingImg {
  width: 70px;
  height: 70px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(41, 41, 41);
  width: 80vw;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
  top: 2%;
  border: 2px solid #b10dff;
  padding: 10px;
}

.exampleImage {
  height: 600px;
}

.text {
  font-size: 1.2rem;
}

.exampleImage {
  border-radius: 5px;
  border: 2px solid #b10dff;
}

.closeBtn {
  margin-top: 15px;
}

.headingTextModal {
  text-align: center;
}
